<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTCP" >
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SimpleService.SimpleService" behaviorConfiguration="mexBehavior">
        
        <!--Part42 SessionMode Enumeration test1 :  binding ->  basicHttpBinding-->
        <!--Part42 SessionMode Enumeration test2 :  binding ->  netTcpBinding-->
        <endpoint address="SimpleService" 
                      binding="basicHttpBinding" 
                      contract="SimpleService.ISimpleService"  
                   />  
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
            <add baseAddress="net.tcp://localhost:8090"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>