<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <!--
          Part40 Retrieve the sessionId -> wsHttpBinding -> reliableSession is false -> testing sessionId 
          With wsHttpBinding, irrespective of whether reliable sessions are enabled or not, the session id's will be same. 
.     -->
      <wsHttpBinding>
        <binding name="wsHttp">
          <reliableSession enabled="false"/>
        </binding>
      </wsHttpBinding>

      <!--
          Part40 Retrieve the sessionId -> netTcpBinding -> reliableSession is true -> testing sessionId  
            The client-side and service-side session IDs are co-related using the reliable session id. 
            So, if TCP binding used with reliable sessions disabled then the client and server session id's will be different. 
            On the other hand, if reliable sessions are enabled, the session id's will be ssame
      :-->
      <!--netTcpBinding>
        <binding name="netTCP" receiveTimeout="00:00:10">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding-->
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SimpleService.SimpleService" behaviorConfiguration="mexBehavior">
        <endpoint address="SimpleService" 
                      binding="wsHttpBinding" 
                      contract="SimpleService.ISimpleService"  
                      bindingConfiguration="wsHttp" />  
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
            <add baseAddress="net.tcp://localhost:8090"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>