<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SampleService.SampleService" behaviorConfiguration="mexBehavior">
        <endpoint address="SampleService" 
                        binding="netTcpBinding" 
                         bindingConfiguration=""
                        contract="SampleService.ISampleService">          
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081"/>
            <add baseAddress="net.tcp://localhost:8091"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>