<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!-- Bytes Received example: 
          2,502,891	 - Text
          1,879,038	 - Mtom
          큰 메시지를 교환할 때는 Mtom이 유리하다.
        -->
        <binding name="wsHttp" messageEncoding="Mtom" maxReceivedMessageSize="7000000">
          <readerQuotas  maxArrayLength="7000000"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="DownloadService.DownloadService" behaviorConfiguration="mexBehavior">
        <endpoint address="DownloadService" binding="wsHttpBinding" contract="DownloadService.IDownloadService" bindingConfiguration="wsHttp">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
 
</configuration>
